.cl-33 {
    color: #333;
}

.cl-66 {
    color: #666;
}

.cl-88 {
    color: #888;
}

.cl-99 {
    color: #999;
}

.cl-ff {
    color: #fff;
}

.cl-cb {
    color: $cl-cb;
}

.cl-8d {
    color: $cl-8d;
}

.cl-3d {
    color: #3d3d3d;
}

.cl-ab {
    color: #abb299;
}
